<launch>
    <group ns="$(env HOSTNAME)" >
        <node name="fc" pkg="ouijabot" type="fc.py" output="screen">
		<param name="maxDelay" value=".5"/>
	        <param name="maxVel" value="3"/>
		<param name="readFrq" value="10"/>
		<param name="cmdFrq" value="100"/>
		<param name="currFrq" value="20" />
	</node>
	<node name="imu_read" pkg="ouijabot" type="imu_read.py" output="screen" />
    </group>
</launch>
