<launch>
    <node name="joy_node" pkg="joy" type="joy_node" output="screen">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value=".15" />
    </node>
    <node name="telop1" pkg="ouijabot_telop_cpp" type="telop"  output="screen">
        <param name="control_freq" value="10"/>
        <param name="maxVel" value="1"/>
        <remap from="vel_out" to="/ouijabot3/cmd_vel" /> 
    </node>
</launch>
